## Task 1: Dictionary Operations

###### Added the dictionay which has Countries name with their capitals.

In [2]:
capitals = {'Pakistan':'Islamabad','India': 'Dehli','Bangadesh':'Dhaka','Afghanistan': 'Kabul', 'Australia': 'Canberra','Azerbaijan':'Baku','Brazil':'Brasilia'}

In [62]:
capitals

{'Pakistan': 'Islamabad',
 'India': 'Dehli',
 'Bangadesh': 'Dhaka',
 'Afghanistan': 'Kabul',
 'Australia': 'Canberra',
 'Azerbaijan': 'Baku',
 'Brazil': 'Brasilia',
 'Germany': 'Berlin City',
 'France': 'Paris'}

##### Added new countries and their capitals in the existing list

In [8]:
capitals['Germany']='Berlin City'

In [9]:
capitals

{'Pakistan': 'Islamabad',
 'India': 'Dehli',
 'Bangadesh': 'Dhaka',
 'Afghanistan': 'Kabul',
 'Australia': 'Canberra',
 'Azerbaijan': 'Baku',
 'Brazil': 'Brasilia',
 'Germany': 'Berlin City'}

##### Dictonary reassignment while entering new key and its value

In [10]:
capitals['France'] = 'Paris'

In [11]:
capitals

{'Pakistan': 'Islamabad',
 'India': 'Dehli',
 'Bangadesh': 'Dhaka',
 'Afghanistan': 'Kabul',
 'Australia': 'Canberra',
 'Azerbaijan': 'Baku',
 'Brazil': 'Brasilia',
 'Germany': 'Berlin City',
 'France': 'Paris'}

##### Applied the IF Condition to check if the desired country exist is the dictionay and print appropriate messege fot it.

In [13]:
if 'France' in capitals:
    print('Yes France is in the dictionay and its capital is Paris')
else:
    print('Sorry I could not find it')

Yes France is in the dictionay and its capital is Paris

## Task 2: Comparison Operators, Logical Operators, and If/Else

##### Applied the conditional formating to check the even and odd number and print messges based on their nature

In [3]:

user_input = input("Enter a number: ")

number = int(user_input)

if number % 2 == 0:
    print(f"The number {number} is even.")
else:
    print(f"The number {number} is odd.")

Enter a number: 6
The number 6 is even.

##### Applied the If condition to check the admission eligibilty based on two factors AGE and GPA

In [32]:
Age_input = input("Your age at the time of application: ")
age = int(Age_input)  

GPA_input = input("Your GPA in latest Degree: ")
gpa = float(GPA_input.strip(']'))  


if 18 <= age <= 35 and gpa >= 2.5:
    print(" Your are wellcome ): You are eligible for admission")
else:
    print("Soryy! You are not eligible for admission, try next time")

Your age at the time of application: 19
Your GPA in latest Degree: 2.3
Soryy! You are not eligible for admission, try next time

## Task 3: Advanced Data Types

#### Fruit Basket

In [33]:

fruits_set = {
    'apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 
    'grape', 'honeydew', 'kiwi', 'lemon', 'mango', 'nectarine', 
    'orange', 'papaya', 'quince'
}

print(fruits_set)

{'date', 'nectarine', 'grape', 'orange', 'apple', 'mango', 'lemon', 'papaya', 'honeydew', 'quince', 'kiwi', 'elderberry', 'fig', 'banana', 'cherry'}

#### Sets and application of various operation on them

In [34]:
Set1 = {1,2,3,4,5,6,7,8,9,10,11,12,2,3,1,3,4,2,4,2,22,33,22,12,11,14,13,13,}

In [36]:
Set2 = { 32,22,21,1,2,3,4,5,7,9,2,4,1,2,1,3,1,4,1,12,14,14,12,14,14,14,12,14}

In [39]:
union_result = Set1.union(Set2)

In [45]:
intersection_result = Set1.intersection(Set2)

In [40]:
difference_result_1 = Set1.difference(Set2)

In [41]:
difference_result_2 = Set2.difference(Set1)

In [42]:
is_subset_result_1 = Set1.issubset(Set2)

In [43]:
is_subset_result_2 = Set2.issubset(Set1)

In [46]:
union_result, intersection_result, difference_result_1, difference_result_2, is_subset_result_1, is_subset_result_2

({1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 21, 22, 32, 33},
 {1, 2, 3, 4, 5, 7, 9, 12, 14, 22},
 {6, 8, 10, 11, 13, 33},
 {21, 32},
 False,
 False)

## Task 4: Strings Manipulation

In [15]:
my_self = "My name is  M.Hamid Khan, I am the good student of Data Science at Atomcamp"

In [16]:
length = len(my_self)

In [17]:
uppercase_sentence = my_self.upper()

In [18]:
replaced_sentence = my_self.replace("good", "excellent")

In [9]:
check_substring = "Data Science" in my_self

In [10]:
split_sentence = my_self.split()

In [11]:
length

75

In [12]:
 uppercase_sentence

'MY NAME IS  M.HAMID KHAN, I AM THE GOOD STUDENT OF DATA SCIENCE AT ATOMCAMP'

In [13]:
replaced_sentence

'My name is  M.Hamid Khan, I am the excellent student of Data Science at Atomcamp'

In [14]:
check_substring

True

In [60]:
split_sentence

['My',
 'name',
 'is',
 'good',
 'M.Hamid',
 'Khan,',
 'I',
 'am',
 'the',
 'student',
 'of',
 'Data',
 'Science',
 'at',
 'Atomcamp']